/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.strike {
  text-decoration: line-through;
}

img {
  max-height: 100px;
}

body {
  text-align: center;
}

h1 {
  text-align: center;
  font-family: 'Cantarell', sans-serif;
}

ul {
  margin: 0 auto;
  text-align: center;
  list-style-type: none;
  width: 375px;
  padding: 10px;
  border: 2px solid grey;
}

ul li{
  border: 1px solid grey;
  text-align: right;
  font-size: 20px;
}

ul li:nth-child(odd){
  background: lightgrey;
}

form {
  margin: 0 auto;
  background: grey;
  text-align: center;
  width: 400px;
}

a {
  color: blue;
  text-decoration: none;
}
span {
  color: blue;
}

fieldset {
  padding: 15px;
}



